<section class="mx-5 my-3 ">
  <div class="row g-0">
    <div class="col-md-9">
    </div>
    <div class="col-md-3">
      <img src="./assets/images/main-slider-1.jpeg" alt="main-slider-1" class="w-100" height="250px" />
      <img src="./assets/images/main-slider-2.jpeg" alt="main-slider-2" class="w-100" height="250px" />
    </div>
  </div>
</section>

<!-- Categories -->

<!-- Products -->
<section  class="m-5">
  <div class="row g-4">
    <app-items-section [Items]="Products"/>
  </div>
</section>
