<form [formGroup]="authForm" (ngSubmit)="handleSubmit()">
  <!-- Conditionally render fields based on the form type -->
  @if (!isLogin) {
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input formControlName="name" type="text" class="form-control" id="name" />
      @if (authForm.get('name')?.touched && authForm.get('name')?.invalid) {
        <div>
          @if (authForm.get('name')?.hasError('required')) {
            <div>Name is required.</div>
          }
          @if (authForm.get('name')?.hasError('minlength')) {
            <div>Name must be at least 3 characters long.</div>
          }
          @if (authForm.get('name')?.hasError('maxlength')) {
            <div>Name cannot be more than 5 characters long.</div>
          }
        </div>
      }
    </div>
  }

  <!-- email -->
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input formControlName="email" type="email" class="form-control" id="email" />
    @if (authForm.get('email')?.touched && authForm.get('email')?.invalid) {
      <div>
        @if (authForm.get('email')?.hasError('required')) {
          <div>Email is required.</div>
        }
        @if (authForm.get('email')?.hasError('email')) {
          <div>Enter a valid email address.</div>
        }
      </div>
    }
  </div>

  <!-- password -->
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input formControlName="password" type="password" class="form-control" id="password" />
    @if (authForm.get('password')?.touched && authForm.get('password')?.invalid) {
      <div>
        @if (authForm.get('password')?.hasError('required')) {
          <div>Password is required.</div>
        }
        @if (authForm.get('password')?.hasError('pattern')) {
          <div>Password must be at least 6 characters long and can
          include letters, numbers, and symbols.</div>
        }
      </div>
    }
  </div>

  <!-- rePassword -->
  @if (!isLogin) {
    <div class="mb-3">
      <label for="repassword" class="form-label">RePassword</label>
      <input formControlName="rePassword" type="password" class="form-control" id="repassword" />
      @if (authForm.get('rePassword')?.touched && authForm.get('rePassword')?.invalid) {
        <div>
          @if (authForm.get('rePassword')?.hasError('required')) {
            <div>RePassword is required.</div>
          }
          @if (authForm.get('rePassword')?.hasError('mismatch')) {
            <div>Passwords do not match.</div>
          }
        </div>
      }
    </div>
  }

  <!-- Phone -->
  @if (!isLogin) {
    <div class="mb-3">
      <label for="phone" class="form-label">Phone</label>
      <input formControlName="phone" type="tel" class="form-control" id="phone" />
      @if (authForm.get('phone')?.touched && authForm.get('phone')?.invalid) {
        <div>
          @if (authForm.get('phone')?.hasError('required')) {
            <div>Phone number is required.</div>
          }
          @if (authForm.get('phone')?.hasError('pattern')) {
            <div>Enter a valid phone number.</div>
          }
        </div>
      }
    </div>
  }

  <!-- Submit button -->
  <button [disabled]="!isValid" type="submit" class="btn btn-main">
    Submit
  </button>
</form>
