@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Encode Sans Expanded", sans-serif !important;
}

a {
  color: inherit;
}

.nav-link {
  transition: unset !important;
}

.common,
.btn-main,
.bg-main,
.active-link {
  background-color: #0aad0a !important;
}

.active-link {
  color: #f0f3f2 !important;
  border-radius: 5px;
  background-color: #0aad0a !important;
}

.rating-color {
  color: #ffc908;
}

.cursor-pointer {
  cursor: pointer;
}

a,
a:hover {
  color: black;
  text-decoration: none;
}

.product {
  border-radius: 5px;
  border: solid 1px #0aad0a;
  transition: box-shadow 0.5s;
  overflow: hidden;
  padding:4px;
}

.product:hover {
  box-shadow: 0 0 10px rgba(17, 189, 17, 0.4078431373);
}

.font-sm {
  font-size: 12px;
}

.text-main {
  color: #0aad0a;
}

.bg-main-light {
  background-color: #f0f3f2 !important;
}

.btn-main {
  padding: 7px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.5s;
}

.btn-main:disabled {
  cursor: not-allowed;
  background-color: #ccc !important;
}

.btn-main:disabled:hover {
  background-color: #ccc !important;
}

.btn-main:hover {
  background-color: #11bd11 !important;
  color: #fff;
}
.skeleton-card {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 10px;
}


@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.border-gray-light {
  border-color: #d1d5db;
}
.bg-gray-light{
  background-color: #d1d5db;
}
.max-w-400px {
  max-width: 400px;
}
.h-72 {
  height: 18rem; /* 288px */
}

.h-3 {
  height: 0.75rem; /* 12px */
}

.h-4 {
  height: 1rem; /* 16px */
}

.h-8 {
  height: 2rem; /* 32px */
}
.w-2{
  width: 33.333333%;
}

.w-5 {
  width: 83.333333%;
}

.w-4 {
  width: 66.666667%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
